body {
  background-image: linear-gradient(
    to bottom left,
    rgba(50, 48, 131, 0.795),
    rgb(218, 218, 218)
  );
}

.container {
  max-width: 600px;
}

.btn {
  background: #13c0a0;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}

.btn-focus {
  outline: none !important;
}

.username {
  font-weight: bold;
}

.time {
  font-size: 0.7em;
  color: #999999;
}

.update-mssg {
  text-align: center;
  margin: 20px auto;
}
