body {
  color: white;
  font-family: "Raleway", sans-serif;
  background-size: cover;
  background-image: linear-gradient(
      rgba(0%, 0%, 0%, 0.2),
      rgba(82, 81, 81, 0.9)
    ),
    url(./imgs/beachimg.jpg);
}

h1 {
  font-family: "Permanent Marker", cursive;
}

.list-group-item {
  color: #555;
}

.container {
  max-width: 600px;
}

.btn {
  background: #13c0a0;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}

.btn-focus {
  outline: none !important;
}

.username {
  font-weight: bold;
}

.time {
  font-size: 0.7em;
  color: #999999;
}

.update-mssg {
  text-align: center;
  margin: 20px auto;
}
